.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    div {
        .link {
            button {
                border: none;
                border-radius: .5em;
                margin: 10px;
                padding: .5em 1em;
                background-color: #362727;
                color: white;
            }
        }

        button {
            border: none;
            border-radius: .5em;
            margin: 10px;
            padding: .5em 1em;
            background-color: #362727;
            color: white;
        }
    }

    .title {
        width: 50vw;
    }
}

.body{
    
    margin: 0px 7vw;
    margin-top: 50px;
    display: flex;
    .right{
        background-color: #e4e7e900;
        border-radius: 20px;
    }
    .left{
        width: 75vw;
        margin-left: 50px;
        background-color: #E4E7E9;
        border-radius: 20px;
        padding: 3vh 4vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .sub_right{
            .title{
                font-weight: 500;
            }
        }
        .sub_left{
            margin-left: 50px;
        }

    }
}

@media (max-width: 768px) {
   .header {
       flex-direction: column;
       align-items: stretch;
       margin-left: 20px;

       .title {
           width: auto;
       }
   }

   .body {
       flex-direction: column;
       align-items: center;
       margin: 0px;
       

       .left {
           width: 90vw;
           border-radius: 20px;
           margin-left: 0px;
           padding: auto;
           flex-direction: column;
           align-items: center;

           .sub_left {
               margin-left: 0px;
           }
       }
   }
}