.header{
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 20px 0px;

    .button {
        .link {
            button {
                border: none;
                border-radius: .5em;
                padding: .5em 1em;
                background-color: #362727;
                color: white;
            }
        }
    }

    .title {
        width: 50vw;
    }
}
.header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    padding: 20px;
    
    .button {
        margin-top: 10px;
        
        .link button {
            margin-top: 10px;
        }
    }

    .title {
        width: 100%;
        margin-bottom: 10px;
    }
}


.list {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    margin-right: 5vw;
    margin-left: 19vw;
 
     .scroller::-webkit-scrollbar {
         display: none;
     }
 
     .scroller {
         overflow-y: auto;
         
     }
 }

 @media only screen and (max-width: 768px) {
    .list {
        margin-left: 5vw;
        margin-right: 5vw;

        .scroller {
            max-height: 300px;
        }

        img {
            width: 50px;
        }

        span {
            display: block;
            margin-top: 5px;
        }
    }
}