@import '../../../../style/variable.scss';

.container {
    margin-top: 20vh;
    border: 2px solid $profileborderColor;

    h4{
        text-align: center;
        margin: 5vh 10vh;
    }


    .list {

        .scroller::-webkit-scrollbar {
            display: none;
        }

        .scroller {
            overflow-y: auto;

        }
        .pending{
            background: #3498db;
            width: 5rem;
            color: white;
            border: none;
            outline: none;
            border-radius: 6px;
            padding: 6px 10px;
            font-size: .8rem;
        }
        .success{
            background: #3498db;
            width: 5rem;
            color: white;
            border: none;
            outline: none;
            border-radius: 6px;
            padding: 6px 10px;
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 1320px) {
    .container {
        margin-top: 20vh;
        border: 2px solid $profileborderColor;
    }
}