.container {
    display: flex;
    justify-content: space-between;

    .profile_menu {
        margin-left: 20px;
    }
}

@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;

    }
}