.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    div{
        .link{
            button{
                border: none;
                border-radius: 5px;
                padding: 12px 15px;
                background-color: #362727;
                color: white;
            }
        }
    }
    .title{
        width: 50vw;
    }
}