@import '../../../../style/variable.scss';

.container {
    margin-top: 20vh;
    border: 2px solid $profileborderColor;

    h4{
        text-align: center;
        margin: 5vh 10vh;
    }


    .list {

        .scroller::-webkit-scrollbar {
            display: none;
        }

        .scroller {
            overflow-y: auto;

        }
    }
}

@media screen and (max-width: 1320px) {
    .container {
        margin-top: 5vh;
        border: 2px solid $profileborderColor;
    }
}