.list {
   display: flex;
   justify-content: space-between;
   margin-right: 5vw;
   margin-left: 19vw;

    .scroller::-webkit-scrollbar {
        display: none;
    }

    .scroller {
        overflow-y: auto;
        
    }
}

@media only screen and (max-width: 768px) {
    .list {
        margin-left: 5vw;
        margin-right: 5vw;

        .scroller {
            max-height: 300px;
        }

        img {
            width: 50px;
        }

        span {
            display: block;
            margin-top: 5px;
        }
    }
}