.list {
   display: flex;
   justify-content: space-between;
   margin-right: 5vw;
   margin-left: 19vw;

    .scroller::-webkit-scrollbar {
        display: none;
    }

    .scroller {
        overflow-y: auto;
        
    }
}